body {
    margin: 0px;
    padding: 0px;
}
/*--------------------------------------------------------------
- Tags Gerais
--------------------------------------------------------------*/
.base {
    max-width: 1280px;
    /* Tamanho base do site */
    margin: 0 auto;
}

.espaco-topo {
    padding-top: 184px;
}

/*--------------------------------------------------------------
- Conteudo
--------------------------------------------------------------*/

.conteudo {
    display: flex;
    font-size: 14px;
    line-height: normal;
    color: #333;
    align-items: center;
    justify-content: center;
}

.conteudo img {
    width: 100vw;
}